<div class="container mx-auto px-10">
    <div class="grid grid-cols-9 gap-4">
      <div>
        <img class="rounded-full w-24 h-24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR725j3UY1F4ADLa2ybbCNAU3aKxh-D-qRw_Q&s" alt="image description">
        <p>laptops</p>
      </div>
      
      <div>
        <img class="rounded-full w-24 h-24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR725j3UY1F4ADLa2ybbCNAU3aKxh-D-qRw_Q&s" alt="image description">
        <p>laptops</p>
      </div>
      <div>
        <img class="rounded-full w-24 h-24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR725j3UY1F4ADLa2ybbCNAU3aKxh-D-qRw_Q&s" alt="image description">
        <p>laptops</p>
      </div>
      <div>
        <img class="rounded-full w-24 h-24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR725j3UY1F4ADLa2ybbCNAU3aKxh-D-qRw_Q&s" alt="image description">
        <p>laptops</p>
      </div>
      <div>
        <img class="rounded-full w-24 h-24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR725j3UY1F4ADLa2ybbCNAU3aKxh-D-qRw_Q&s" alt="image description">
         <p>laptops</p>
      </div>
      <div>
        <img class="rounded-full w-24 h-24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR725j3UY1F4ADLa2ybbCNAU3aKxh-D-qRw_Q&s" alt="image description">
         <p>laptops</p>
      </div>
      <div>
        <img class="rounded-full w-24 h-24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR725j3UY1F4ADLa2ybbCNAU3aKxh-D-qRw_Q&s" alt="image description">
         <p>laptops</p>
      </div>
      <div>
        <img class="rounded-full w-24 h-24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR725j3UY1F4ADLa2ybbCNAU3aKxh-D-qRw_Q&s" alt="image description">
         <p>laptops</p>
      </div>
      <div>
        <img class="rounded-full w-24 h-24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR725j3UY1F4ADLa2ybbCNAU3aKxh-D-qRw_Q&s" alt="image description">
         <p>laptops</p>
      </div>
    </div>
  </div>



  <div class="container mx-auto px-10">
    <figure class="w-full mt-10">
      <img class="w-full h-auto rounded-lg" src="https://storiesflistgv2.blob.core.windows.net/stories/2021/05/FKSfooterbanner_new__.jpg" alt="image description">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400"></figcaption>
    </figure>
  </div>
  
    
  